.cart-content-container {
  margin: 50px 0 125px 0;
  display: flex;
  align-content: flex-start;
}

.cart-title-container {
  text-align: center;
}

.cart-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

.cart-product {
  display: flex;
  margin-top: 75px;
  align-items: center;
  border-bottom: 1px solid #c8c9ca;
  padding-bottom: 50px;
  width: 100%;
}

.cart-product-img {
  height: 175px;
  width: 150px;
}

.cart-product-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 100%;
}

.cart-linebreak {
  width: 70%;
}

.cart-product-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 0;
}

.cart-product-size {
  font-size: 1.2rem;
  margin: 5px 0;
}

.cart-product-size-title {
  font-weight: 600;
}

.cart-product-price {
  font-size: 1.2rem;
  margin: 5px 0;
}

.cart-product-availability {
  font-size: 1.2rem;
  margin: 5px 0;
}

.cart-product-availability-title {
  font-weight: 600;
}

.cart-buttons-container {
  display: flex;
  width: 100%;
}

.cart-product-edit-and-remove {
  margin: 30px 50px 0 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-product-edit,
.cart-product-remove {
  background: none;
  border: none;
  margin: 0 10px;
  text-decoration: underline;
}

.cart-quantity-add-container {
  align-self: flex-end;
  display: flex;
}

.cart-quantity-container {
  display: flex;
  margin: 0 20px;
  align-items: center;
  border: 1px solid black;
  padding: 7px;
  border-radius: 5px;
  width: 120px;
  justify-content: space-between;
}

.cart-quantity-minus,
.cart-quantity-plus {
  background: none;
  border: none;
}

.cart-current-quantity {
  margin: 0 25px;
}

.cart-product-add {
  background: none;
  border: none;
  background-color: #4da58b;
  width: 120px;
  border-radius: 5px;
  transition: 0.3s background-color;
  height: 40px;
}

.cart-product-add:hover {
  background-color: #55b498;
}

.order-summary-content {
  width: 30%;
  background-color: #f7f7f7;
  margin-right: 20px;
  border-radius: 5px;
}

.order-summary-title-container {
  text-align: center;
  margin: 15px 0;
}

.order-summary-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

.order-summary-list-content-container {
  display: flex;
  justify-content: space-between;
}

.order-summary-list-title-container {
  display: inline-block;
  margin-left: 10px;
}

.order-summary-list-total-container {
  display: inline-block;
  margin-right: 10px;
}

.order-summary-list-title {
  list-style: none;
  padding: 0;
}

.order-summary-list-title-item {
  margin-bottom: 15px;
}

.order-summary-list-total {
  list-style: none;
}

.order-summary-list-total-item {
  margin-bottom: 15px;
}

.estimated-total {
  font-weight: 600;
}

.order-summary-checkout-container {
  display: flex;
  justify-content: center;
  margin: 25px 0 30px 0;
}

.order-summary-checkout {
  background: none;
  width: 80%;
  height: 50px;
  text-transform: uppercase;
  background-color: #4da58b;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s background-color;
}

.order-summary-checkout:hover {
  background-color: #55b498;
}

.order-summary-shipping {
  margin-left: 10px;
}

.order-summary-shipping-title {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

.order-summary-form-check {
  margin: 0 0 15px 0;
}

@media (max-width: 500px) {
  .cart-content-container {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .order-summary-conent {
    width: 100%;
    margin-right: 0;
  }

  .cart-product {
    flex-direction: column;
  }
  .cart-buttons-container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .cart-product-edit-and-remove {
    margin-left: 0;
  }

  .cart-quantity-add-container {
    margin: 0;
    padding: 0;
  }

  .cart-product-edit {
    margin-left: 0;
  }

  .cart-quantity-container {
    margin-left: 0;
  }

  .cart-quantity-add-container {
    align-self: flex-start;
    margin-top: 30px;
  }
}

@media (max-width: 900px) {
  .cart-content-container {
    flex-direction: column;
    align-items: center;
  }

  .order-summary-content {
    width: 80%;
    margin-top: 75px;
  }
}
