.landing-page-container {
  margin: 50px 20px 0 20px;
}

.limited-time-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.limited-time {
  font-size: 1.6rem;
  color: #4da58b;
}

.promotion-details {
  font-size: 2.2rem;
  color: #4da58b;
}

.quick-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shop-mens {
  height: 40px;
  margin-right: 10px;
  background: none;
  width: 150px;
  transition: 0.3s background-color;
}

.shop-womens {
  height: 40px;
  margin-left: 10px;
  background: none;
  width: 150px;
  transition: 0.3s background-color;
}

.shop-mens:hover,
.shop-womens:hover {
  background-color: #4da58b;
}

.image-container {
  display: flex;
  justify-content: space-around;
  color: #212529;
}

.male-sweater-img,
.women-sweater-img {
  height: 375px;
  width: 250px;
}

.small-image-text-container {
  display: none;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 15px;
}

.fall-image-container {
}

.fall-image {
  transform: rotate(180deg);
  width: 100%;
  height: auto;
}

@media (max-width: 460px) {
  .male-sweater-img,
  .women-sweater-img {
    height: 280px;
    width: 180px;
  }
}

@media (max-width: 500px) and (min-width: 300px) {
  .landing-page-container {
    margin: 0 20px 0 20px;
  }
}

@media (max-width: 540px) and (min-width: 461px) {
  .male-sweater-img,
  .women-sweater-img {
    height: 325px;
    width: 220px;
  }
}

@media (max-width: 767px) and (min-width: 541px) {
  .male-sweater-img,
  .women-sweater-img {
    height: 375;
    width: 250;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .limited-time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .limited-time {
    font-size: 1.2rem;
    text-align: center;
  }

  .promotion-details {
    font-size: 1.8rem;
  }

  .image-text-container {
    display: none;
  }

  .image-container {
    justify-content: center;
  }

  .small-image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 2;
    color: #fff;
    margin: 5px 0 0 0;
  }
}

@media (max-width: 865px) and (min-width: 768px) {
  .male-sweater-img,
  .women-sweater-img {
    height: 325px;
    width: 220px;
  }

  .just-dropped {
    font-size: 1.2rem;
  }

  .sweater-weather {
    font-size: 1.7rem;
  }

  .shop-new-sweaters {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .limited-time {
    font-size: 1.4rem;
  }

  .promotion-details {
    font-size: 2rem;
  }
}

@media (max-width: 1000px) and (min-width: 866px) {
  .male-sweater-img,
  .women-sweater-img {
    height: 350px;
    width: 235px;
  }
}
