.profile-view-container {
  margin: 50px 0 0 0;
}

.profile-view-title {
  display: flex;
  justify-content: center;
}

.profile-title-text {
  text-transform: uppercase;
  word-spacing: 5px;
  font-size: 2rem;
  font-weight: 400;
}

.my-account {
  font-weight: 600;
}

.profile-list {
  list-style: none;
}

.profile-list-row {
  display: flex;
  justify-content: center;
}

.profile-list-item {
  border-bottom: 1px solid #c8c9ca;
  margin: 20px 10px 20px 10px;
  padding-bottom: 20px;
}

.profile-list-item-container {
  display: flex;
  justify-content: flex-start;
}

.profile-list-item-container:hover {
  cursor: pointer;
}

.profile-view-icons {
  height: 4rem;
  width: 4rem;
}

.profile-list-item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 15px;
}

.list-item-title {
  text-transform: uppercase;
  font-weight: 600;
}

.delete-logout {
  display: flex;
  justify-content: flex-end;
}

.delete-account {
  background: none;
  margin: 0 45px 0 0;
  padding: 5px 15px;
  border: 1px solid #b60000;
  border-radius: 5px;
  transition: 0.3s;
}

.delete-account:hover {
  background-color: #b60000;
}

.logout-account {
  background: none;
  padding: 5px 15px;
  border: 1px solid #4da58b;
  border-radius: 5px;
  transition: 0.3s;
}

.logout-account:hover {
  background-color: #4da58b;
}

.delete-modal-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b60000;
  margin-bottom: 30px;
}

.delete-modal-body {
  text-align: center;
}

.delete-modal-button {
  text-align: center;
  background: none;
  border: 1px solid #b60000;
  padding: 5px 15px;
  color: #b60000;
  border-radius: 5px;
  transition: 0.3s;
}

.delete-modal-button:hover {
  background-color: #b60000;
  color: #fff;
}

@media (max-width: 500px) {
  .profile-view-container {
    margin: 0;
  }
}

@media (max-width: 566px) {
  .profile-view-title {
    text-align: center;
  }

  .profile-title-text {
    font-size: 1.6rem;
  }

  .my-account {
    display: block;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 767px) {
  .profile-list-item {
    margin: 10px 50px 10px 10px;
  }

  .delete-logout {
    flex-direction: column-reverse;
    align-items: center;
  }

  .logout-account {
    width: 60%;
    margin-bottom: 50px;
  }

  .delete-account {
    margin: 0;
    width: 40%;
  }
}

@media (max-width: 767px) and (min-width: 567px) {
  .profile-view-title {
    text-align: center;
  }

  .profile-title-text {
    font-size: 1.8rem;
  }

  .my-account {
    display: block;
  }

  .divider {
    display: none;
  }
}
