.product-review-container {
  margin: 80px 60px 100px 60px;
}

.product-review-title {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 30px 0;
}

.product-review-product {
  display: flex;
  justify-content: flex-start;
}

.review-product-img {
  height: 100px;
  width: 80px;
  margin: 0 20px 0 0;
}

.review-product-title {
  margin: 10px 0 0 0;
  font-size: 1.3rem;
}

.review-product-review {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 20px 0;
}

.review-product-review-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.review-product-review-stars {
  font-size: 2.2rem;
}

.review-product-review-stars:hover {
  cursor: pointer;
}

.star-empty {
  margin-right: 5px;
  color: #f3a842;
}

.star-full {
  color: #f3a842;
  margin-right: 5px;
}

.review-product-review-clear {
  background: none;
  border: none;
}

.review-product-review-clear:hover {
  text-decoration: underline;
}

.review-product-buy-again-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.review-product-message-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.review-product-message-input {
  width: 80%;
  padding: 10px 0 150px 5px;
}

.review-product-name-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px 0 3px 0;
}

.review-product-appear {
  font-size: 0.9rem;
}

.review-product-user-info {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
}

.review-product-profile {
  font-size: 4rem;
}

.review-product-profile-name {
  width: 72%;
}

.review-product-submit {
  background: none;
  border: 1px solid #4da58b;
  padding: 5px;
  width: 80px;
  position: absolute;
  right: 60px;
  transition: 0.3s;
}

.review-product-submit:hover {
  background-color: #4da58b;
}

.missing-rating {
  color: #b60000;
  font-weight: 600;
}

.review-submitted {
  margin-top: 60px;
  font-size: 1.3rem;
  color: #4da58b;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 500px) {
  .product-review-container {
    margin-top: 0;
  }

  .review-product-message-input {
    width: 100%;
  }
}
