.logo {
  display: flex;
  justify-content: center;
}

.timazon {
  color: #4da58b;
  position: absolute;
  margin-top: 55px;
  padding-left: 18px;
  font-size: 1.6rem;
}

/* .timazon {
  color: #4da58b;
  position: absolute;
  margin-top: 10px;
  padding-left: 18px;
  font-size: 1.8rem;
} */

.cart {
  position: relative;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 25px;
}

.form {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  padding: 30px;
  width: 300px;
}

.form-label {
  display: block;
  font-weight: 500;
  padding-bottom: 5px;
}

.secondary-label {
  margin-top: 25px;
}

.form-control {
  width: 95%;
  height: 25px;
  padding-left: 7px;
  border-color: 1px solid #cbcbcb;
  display: block;
  font-size: 0.9rem;
}

.password-control {
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: block;
}

.text-muted {
  color: #000 !important;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.passwords-match,
.name-invalid,
.email-invalid,
.email-taken,
.password-invalid {
  color: #b60000 !important;
}

.create-button {
  margin-top: 15px;
  width: 99%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  background: linear-gradient(to right, #68a2dc 0%, #62aaf3 50%, #5a9cde 99%);
}

.create-button:hover {
  background: #62aaf3;
  cursor: pointer;
}

.account-question {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}

.sign-in {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #0e7ded;
}

.sign-in:hover {
  color: #ed620e;
}
