@media (max-width: 450px) {
  .cart-button {
    display: none;
  }
}

.product-card {
  border: none;
  height: 450px;
}

.image {
  position: relative;
}

.product-img {
  height: 200px;
  width: 175px;
  margin: 10px;
  display: block;
}

.image-link:hover {
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transform: translateY(10px);
  opacity: 0;
}

.image-overlay:hover {
  transition: transform 0.3s;
  transform: translateY(0);
  opacity: 1;
}

.card-title {
  display: block;
  color: black;
}

.card-title:hover {
  color: #ed620e;
  cursor: pointer;
}

.body-link:hover {
  cursor: pointer;
}

.card-text-rating {
  color: #f3a842;
}

.card-text-price-prev {
  text-decoration: line-through;
  font-size: 0.8rem;
  margin: 0;
}

.card-text-price-on-sale {
  color: #b60000;
}

.quickview-container {
  z-index: 100;
}

.modal-backdrop.show {
  opacity: 0.2;
}

.modal.left .product-modal-dialog {
  position: fixed;
  right: 0;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .product-modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .product-modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .product-modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .product-modal-dialog {
  right: 0;
}

.quickshop-modal-header {
  display: flex !important;
  align-items: center !important;
  padding-bottom: 5px;
  padding-top: 10px;
}

.quickshop-title {
  margin: 0;
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.quickshop-close {
  margin: 0;
}

.product-modal-body {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.quickshop-product-title {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.quickshop-product-image {
  height: 200px;
  width: 200px;
  margin: 15px auto 15px auto;
}

.quickshop-price-container {
  display: flex;
  margin: 15px 0 15px 0;
}

.quickshop-price-title {
  font-size: 1rem;
  font-weight: bold;
  justify-self: start;
}

.quickshop-price-number {
  font-size: 1rem;
  margin-left: 15px;
}

.quickshop-linebreak {
  margin: 0;
}

.quickshop-price-size-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 45px 0 45px 0;
}

.quickshop-size-container {
  display: flex;
}

.quickshop-size-select.invalid {
  border: 1px solid red;
}

.form-select:hover {
  cursor: pointer;
}

.no-size-information {
  color: red;
}

.quickshop-sizes.invalid {
  border: 1px solid #b60000;
}

.quickshop-quantity-container {
  display: flex;
  align-items: center;
  border: 1px solid #cfd4d9;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.current-quantity {
  margin: 0 12px 0 12px;
  padding: 0;
}

.quickshop-minus,
.quickshop-plus {
  background: none;
  border: none;
}

.quickshop-add-product {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4da58b;
  height: 40px;
  border-radius: 5px;
  transition: 0.3s background-color;
}

.quickshop-add-to-cart {
  font-size: 1rem;
  margin-bottom: 0;
}

.quickshop-cart-icon {
  font-size: 1.4rem;
  margin: 0 0 2px 10px;
}

.quickshop-add-product:hover,
.quickshop-add-wishlist:hover {
  cursor: pointer;
  background-color: #55b498;
}

.quickshop-add-wishlist {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4da58b;
  height: 40px;
  border-radius: 5px;
  transition: 0.3s background-color;
}

.quickshop-add-to-wishlist {
  font-size: 1rem;
  margin-bottom: 0;
}

.quickshop-wishlist-icon {
  font-size: 1.2rem;
  margin: 0 0 2px 10px;
}

.quickshop-view-all-details {
  width: 120px;
  margin: 30px 0 0 0;
}

.quickshop-view-all-details:hover {
  color: #4da58b;
  text-decoration: underline;
  cursor: pointer;
}

.product-added-back-container {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.product-added-back {
  margin: 0;
  font-size: 0.9rem;
  text-decoration: underline;
  color: #8e8e8e;
}

.product-added-modal-body {
  display: flex;
  flex-direction: column;
}

.quickshop-product-title {
  align-self: start;
}

.product-added-product-information {
  display: flex;
  align-content: center;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.product-added-product-image {
  height: 170px;
  width: 170px;
  align-self: center;
}

.product-added-modal-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.product-added-product-title {
  margin: 0 0 10px 10px;
}

.product-added-product-price {
  margin: 0 0 10px 10px;
  font-weight: bold;
  font-size: 0.9rem;
}

.product-added-product-size,
.product-added-product-quantity {
  margin: 0 0 0 10px;
  font-size: 0.9rem;
}

.product-added-keep-shopping-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: #4da58b;
  border-radius: 5px;
}

.product-added-keep-shopping-container:hover,
.product-added-view-cart-container:hover {
  cursor: pointer;
  background-color: #55b498;
}

.product-added-keep-shopping {
  margin: 0;
}

.product-added-view-cart-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 25px 0;
  background-color: #4da58b;
  border-radius: 5px;
  transition: 0.3s background-color;
}

.product-added-view-cart {
  font-size: 1rem;
  margin-bottom: 0;
}

.product-added-cart-icon {
  font-size: 1.4rem;
  margin: 0 0 2px 10px;
}

.product-added-wishlist-icon {
  font-size: 1.1rem;
  margin: 0 0 2px 5px;
}

.product-added-also-like-container {
  margin-top: 20px;
}

.product-added-also-like-title {
  font-weight: bold;
}

.product-added-also-like-products {
  text-align: center;
  margin-top: 50px;
}

.product-added-also-like-product {
  display: inline-block;
}

.product-added-also-like-image {
  height: 120px;
  width: 120px;
  margin: 4px 4px 4px 4px;
}
