.filter-bar {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  display: flex;
  margin-top: 30px;
  margin-left: 0.5rem;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #4da58b;
  transition: 0.3s background-color;
}

.menu-bars:hover {
  cursor: pointer;
  background-color: #55b498;
}

.filter-img {
  margin: 0;
  padding: 0;
}

.desktop-filter {
  font-size: 1.3rem;
  margin: 0;
  margin-left: 7px;
  padding: 0;
}

.sidebar-nav-menu {
  justify-content: start;
  float: left;
  display: none;
}

.sidebar-nav-menu.active {
  display: flex;
  left: 0;
}

.brand-title,
.price-title,
.reviews-title {
  font-size: 1.2rem;
  text-decoration: underline;
  padding-left: 9px;
}

.brand-list {
  list-style: none;
  text-align: start;
}

.form-check-label {
  font-size: 1rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.star {
  color: #f3a842;
  margin-bottom: 3px;
}

.top-bar-filter {
  display: none;
}

.mobile-filter-icon {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-right: 10px;
}

.filter-button {
  background: none;
  border: none;
  font-size: 1.2rem;
}

.filter-button:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .sidebar-nav-menu.active,
  .sidebar-nav-menu,
  .filter-bar,
  .side-bar-container {
    display: none;
  }

  .top-bar-filter {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    margin-top: 170px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4da58b;
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    z-index: 1;
  }

  .top-bar-filter:hover {
    cursor: pointer;
  }
}

.mobile-modal-dialog {
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

.mobile-modal-body {
  height: 400px;
  overflow-y: scroll;
}

.mobile-brand-title,
.mobile-price-title {
  font-size: 1rem !important;
}

.view-symbol {
  margin-right: 35px;
  margin-top: 7px;
}

.mobile-brands {
  height: 200px;
  overflow-y: scroll;
}

.solid {
  border-top: 3px solid #bbb;
}

.line-break {
  width: 100%;
}

.mobile-brands {
  width: 100%;
  text-align: center;
}

.mobile-brands-list,
.mobile-price-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-brand-input,
.mobile-price-input {
  margin-right: 10px;
  transform: scale(1.6);
}

.clear-all-filters {
  background: none;
  border: none;
  background-color: #4da58b;
  width: 200px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1rem !important;
}

.mobile-modal-footer {
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
