.timazon {
  color: #4da58b;
  position: absolute;
  margin-top: 55px;
  padding-left: 18px;
  font-size: 1.6rem;
}
.cart {
  position: relative;
}

.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sign-in-button {
  margin-top: 15px;
  width: 99%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 3px;
  background: linear-gradient(to right, #68a2dc 0%, #62aaf3 50%, #5a9cde 99%);
}

.sign-in-button:hover {
  background: #62aaf3;
  cursor: pointer;
}

.account-question {
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}

.register {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #0e7ded;
}

.register:hover,
.guest:hover {
  color: #ed620e;
  cursor: pointer;
}

.guest {
  font-size: 0.8rem;
  font-weight: 400;
  color: #0e7ded;
  margin: 10px 0 0 0;
  text-decoration: underline;
  width: 100px;
}
